<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package userId="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package userId="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package userId="WebSocketSharp-netstandard" version="1.0.1" targetFramework="net48" />
</packages>